img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin-top: 20px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.1);
}